   <div id="movie-page"> 
    <div class="movie-bg"[ngStyle]="{
        'background-image': 'url('+ 'https://image.tmdb.org/t/p/original/' +  service.selectedMovie.poster_path + ')'
    }">

    </div>
        <div class="container">
            <div class="movie-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="movie-poster" [ngStyle]="{
                            'background-image': 'url('+ 'https://image.tmdb.org/t/p/original/' +  service.selectedMovie.poster_path + ')'
                        }"></div>
                    </div>
                    <div class="col-md-6">
                        <h1>{{selectedMovie.title}}</h1>
                        <div class="release">{{selectedMovie.release_date}}</div>
                        <p>
                            {{selectedMovie.overview}}
                        </p>
                    </div>
                    <div class="col-md-3">
                            <button type="button" class="btn btn-primary" (click)="clickedTicketsBtn()">Get Tickets</button>
                    </div>
                </div>
                
                </div>
            </div>
        
    </div>


