   <div id="movie-page"> 
    <div class="movie-bg" [ngStyle]="{
        'background-image': 'url('+ this.movieData.imageUrl + ')'
    }">

    </div>
        <div class="container">
            <div class="movie-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="movie-poster"></div>
                    </div>
                    <div class="col-md-6">
                        <h1>Star Wars: The Rise of SkyWalker</h1>
                        <div class="release">Release Date: 12/14/2019</div>
                        <p>
                            Star Wars: The Rise of Skywalker (also known as Star Wars: Episode IX – The Rise of Skywalker) is a 2019 American epic
                            space-opera film produced, co-written, and directed by J. J. Abrams. It is the third installment of the Star Wars sequel
                            trilogy, following The Force Awakens (2015) and The Last Jedi (2017), and the final episode of the nine-part "Skywalker
                            saga".[a] It was produced by Lucasfilm and Abrams's production company Bad Robot Productions, and was distributed by
                            Walt Disney Studios Motion Pictures. The ensemble cast includes Carrie Fisher, Mark Hamill, Adam Driver, Daisy Ridley,
                            John Boyega, Oscar Isaac, Anthony Daniels, Kelly Marie Tran, Naomi Ackie, Domhnall Gleeson, Richard E. Grant, Lupita
                            Nyong'o, Keri Russell, Joonas Suotamo, Ian McDiarmid, and Billy Dee Williams. It features the second posthumous film
                            performance by Fisher, who died in 2016 and appears through the use of unused footage from The Force Awakens.[2]
                        </p>
                    </div>
                    <div class="col-md-3">
                            <button type="button" class="btn btn-primary">Get Tickets</button>
                    </div>
                </div>
                
                </div>
            </div>
        
    </div>


