<p>home works!</p>
<div id="movies-list">
    <div class="row">
        <div class="col-md-3" *ngFor="let movie of movies"
        >
            <div class="movie-box" 
            (click)="clickedMovie(movie.slug)"
            [ngStyle]="{
                'background-image': 'url('+ 'https://image.tmdb.org/t/p/original/' +  movie.poster_path + ')'
            }">
            

                <div class="av sold-out">
                    <div class="status">
                        Tickets Available
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    
</div>
<!-- 'background-image': 'url('+ movie.imageUrl + ')' -->
